*{
    box-sizing: border-box;
}
/* .RegContent{
    margin: auto;
    width: 100%;

} */


.regTitle{
    font-size: 35px;
    font-family: "Poppins";
   margin-top: 80px;
   margin-bottom: 20px;
   text-align: left;
 
}

.regCardItems{
    margin-top: 50px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 40px;
     margin:20px auto;
     position: relative;
  
}


@media screen and (max-width:600px) {
    .regCardItems{
        grid-template-columns: 1fr;
        /* row-gap: 30px; */
        margin: auto;
        justify-content: center;
        align-items: center;
        /* margin: 10px auto; */
        width: 100%;
      
    }

    .regTitle{
        font-size: 30px;
        margin: 20px 5%;
    }

    

}