*{
    box-sizing: border-box;
}



 .AdminTitle{
    font-size: 35px;
    font-family: "Poppins";
   margin-top: 80px;
   margin-bottom: 20px;
   text-align: left;
   /* margin-left: 50px; */
 
} 
 /* 
.adminregCardItems{
    margin-top: 50px;
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
     margin:20px auto;
    position: relative; 
  
} */

.RegistrationItems {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
   
}

@media screen and (max-width:600px) {

    .AdminRegistration{
        margin-top: 10%;

    }
    .RegistrationItems{
        grid-template-columns: 1fr;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 80%;
      
      
    }

    .AdminTitle{
        font-size: 30px;
        text-align: center;
      
    }

   
    

}

/* @media screen and (max-width:600px) {
    .AdminRegistration{
        padding-top:50px ;
    }
    
} */