/* Big Navbar */

.smAside{
    color: white;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;

  transition: transform 0.3s ease, opacity 0.3s ease; 
  transform: translateX(-100%);
  /* position: fixed;  */
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 98; 
  overflow-y: hidden;
  opacity: 0; 
  pointer-events: none; 
  background-color: black;
  /* min-height: 100vh; */
  width: 5%;

}


.smAside.visible {
    transform: translateX(0);
    opacity: 1; 
    pointer-events: auto;
  } 

  @media only screen and (min-width: 768px) {
    .smAside {
      transition: transform 0.3s ease;
      transform: translateX(0);
      position: fixed; 
      left: 0;
      bottom: 0;
      z-index: 90; 
      margin-top: 30px;
      overflow-y: hidden; 
      width: 10%;
    
    }
  }




/* 
.smAside{
  
    color: white;
    padding: 10% 10px;
    padding-top: 50%;
    justify-content: center;
   
} */

/* 
.left-side{
    /* width:10%; 
    text-align:center;
} 

/* .top-section{
    flex-direction: column;
    width: 80%;
  
    
} 

.top-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    padding-top: 50px;
    
}
.sm-section{
    flex-direction: column;
    row-gap: 60px;
    padding: 5px;
    padding-top: 30px;
}

.top-Small-Aside{
    flex-direction: column;
    justify-content:center;
    row-gap: 40px;
}

.aside-footer-img{
    width: 80%;
    /* height: 300px; */
   /* object-fit: contain;
   overflow: hidden;
  
   
}

.img-section{
    align-items: flex-end; */
    /* background-color: white; */


/* Links */
/* .link{
    color: white;
}  */
