.parent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
  
}

@media screen and(max-width:600px) {
    .parent{grid-template-columns: 1fr};
    
}


.right{
    background-color: #F9F9F9F9;
    grid-column: 3/-1;
    margin: auto;
    width:100%
}

@media screen and (max-width:600) {
    .right{
      
        grid-column: 1/-1;
        
    }
}


/* Small aside layout */

.smParent{
    display: grid;
    grid-template-columns: 5% 95%
  
  
}

@media screen and(max-width:600px) {
    .parent{grid-template-columns: 1fr};
    
}

.smLeft{
    background-color: #000000;

}

.smRight{
    background-color: #F9F9F9F9;
    margin: auto;
    width: 100%;
}

@media screen and (max-width:600) {
    .smRight{
      
        
    }
}