
/* Small aside layout */

.smParent{
    display: grid;
    grid-template-columns: 5% 95%
}

@media screen and(max-width:600px) {
    .smParent{
        grid-template-columns: 100%;
        width: 100%
    };
    
}

.smLeft{
 width: 0;

}

.smRight{
    background-color: #F9F9F9F9;
    margin: auto;
    /* width: 100%; */
}

