.idCardItems{
    margin-top: 50px;
    gap: 40px;
    margin:20px auto;
    position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.idReg{
    font-size: 35px;
    margin-left: 5%;
    margin-top: 80px;
 
}

@media screen and (max-width:600px) {
    .idReg{
        font-size: 30px;
    }
    
}