* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  transition: 0.3s;
}

:root {
  /* --secondary-color: #FF730E; */
  --primary-color: #f92401;
  --secondary-color: white;
  --color1: white;

  --color2: #ffface;

  --color3: #fcf9f9;

  --color4: #f2f2f2;

  --color5: #828282;

  --color-blue: #0000ff;

  --color-green: #0fa958;
}

body {
  background-color: white;
}
button {
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

header {
  background-color: black;
  color: white;
  padding: 13px 20px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

header .btn1 {
  background-color: white;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}

header h1 {
  color: white;
}

header img {
  width: 250px;
}

header .btn1:hover {
  transition: 0.3s all;
  color: white;
  cursor: pointer;
  background-color: #9e4404;
}

.login-container {
  max-height: 100vh;
  height: 100vh;
}

.login-section1 {
  background-image: url(./assets/login-pic3.png);
  display: none;
  height: 100%;
  min-height: 100vh;
}

.login-section1 img {
  width: 100%;
  max-width: 500px;
  animation: popup 2s infinite;
}

@keyframes popup {
  0% {
  }
  50% {
    transform: scale(1.2);
  }
}

.login-section2 {
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container > div {
  width: 98%;
  margin: auto;
}
.login-section2 div {
  width: 100%;
}
.login-section2 form {
  background-color: #ff730e;
  padding: 20px;
  border-radius: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 20px 0px;
}

button {
  border: none;
}

.login-btn {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3;
  font-size: 17px;
}

.login-btn:hover {
  background-color: wheat;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  width: auto;
  margin-right: 10px;
}

.bottom-link {
  text-align: center;
  margin-top: 30px;
}
.bottom-link a {
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 800px) {
  .login-container > div {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .login-container {
    height: 100vh;
  }

  .login-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container > div {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

/* Student Dashboard Layout Styling */

.dashboard-header {
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.header-logo {
  width: 70px;
}

.header-aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.headerToggleIcon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.userlayout {
  background-color: white;
  color: black;

  position: absolute;
  top: 0;
  width: 100%;
}

.main-content,
.user-main-content {
  width: 100%;
  margin-top: 80px;
}

.user-main-content {
  padding: 20px;
  min-height: 100vh;
}

.user-main-wrapper {
  min-height: 80vh;
}

footer {
  text-align: center;
  font-weight: bold;
}

.aside {
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0 0 10px rgb(173, 173, 173);
  position: fixed;
  right: 0;
  z-index: 5;
  height: 100vh;
  width: 50%;
  top: 68px;
}

.noAside {
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #f92401;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #f92401;
  cursor: pointer;
}

.nav-item img {
  margin-right: 10px;
}

.nav-item1 {
  border: 0;

  font-size: 25px;
}

a {
  text-decoration: none;
  color: initial;
}
nav .active {
  background-color: red;
  font-weight: bold;
}

.panel-card {
  background-color: var(--color1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(221, 220, 220);
  transition: 0.3s;
  cursor: pointer;
}

.panel-card:hover {
  box-shadow: 0px 0px 30px rgb(221, 220, 220);
  transform: scale(1.02);
}

@media screen and (max-width: 800px) {
  .fadeIn {
    animation: fadeInAnimation 0.5s ease-in-out forwards;
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 600px) {
  .aside {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .aside {
    display: block;
    width: 20%;

    position: fixed;
    left: 0;
  }

  .user-main-content {
    left: 20%;
    width: 80%;
    padding: 20px;
    position: relative;
  }

  .headerToggleIcon {
    display: none;
  }
}

/* student dashboard */

.dashboard-panel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.dashboard-panel-card.panel-card:hover {
  transform: scale(1);
}

.dashboard-panel-card img {
  animation: popup 2s infinite;
}

@keyframes popup {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
}

.dashboard-page .card {
  border: 2px solid gray;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboard-page .card > div {
  display: flex;
  align-items: center;
}

.dashboard-page .card button {
  padding: 10px 20px;

  border-radius: 10px;
  border: 2px solid black;
  background-color: transparent;
}

.dashboard-page .card button:hover {
  background-color: black;
  color: white;
}

.dashboard-panels .course-pic {
  margin-right: 10px;
  min-width: 50px;
}

.dashboard-overview .icon {
  padding: 20px;
  background-color: white;
  width: auto;
  border-radius: 50%;
}

.dashboard-overview .panel-card {
  display: flex;
  justify-content: center;

  transition: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  transition: 0.3s all;
}

.dashboard-overview .panel-card:hover {
  background-color: var(--color1);
  cursor: pointer;
  box-shadow: 0 0 20px gray;
}

.dashboard-overview .panel-card p {
  font-weight: bold;
  font-size: 20px;
}

.dashboard-panels {
  width: 100%;
}
.dashboard-panel {
  box-shadow: 0 0 20px rgb(231, 231, 231);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .dashboard-panels {
    display: grid;
    display: flex;
    gap: 20px;
  }
  .dashboard-panel {
    flex: 1;
    max-width: calc(50% - 10px);
  }
}

@media screen and (min-width: 400px) {
  .dashboard-overview {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 800px) {
  .dashboard-overview {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .ml {
    margin-right: 10%;
  }
}

/* Student Attendance Page */

.student-attendance-page {
}

.student-attendance-page table {
  width: 100%;
}

.student-attendance-page .table {
  background-color: var(--color1);
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}

.student-attendance-page table,
.student-attendance-page th,
.student-attendance-page td {
  /* border: 1px solid gray; */
  border-collapse: collapse;
}

.student-attendance-page tr {
  border-top: 3px solid rgb(211, 207, 207);
  border-bottom: 3px solid rgb(228, 223, 223);
  border-collapse: collapse;
}

.student-attendance-page th {
  padding: 15px 10px;
  text-align: left;
}

.student-attendance-page td {
  padding: 5px 10px;
}

.student-attendance-page table button {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

/* student assignments page */

.student-assignment-page {
  background-color: var(--color1);
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.student-assignment-page > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid brown;
}

.img {
  background-color: white;
  padding: 15px;
  margin-right: 20px;
}

.student-assignment-page > div > div {
  display: flex;
  align-items: center;
}

.student-assignment-page .icon {
  font-size: 30px;
}

/* Student courses page */

.courses-page .active,
.tab-button:hover {
  background-color: black;
  color: white;
}

.tab-button {
  padding: 10px 20px;

  border-radius: 10px;
  border: 2px solid black;
  background-color: transparent;
  margin-right: 20px;
  min-width: 100px;
  font-size: 18px;
  font-weight: bold;
}

/* .student-course-page{

} */

.student-course-page > div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.course-pic {
  max-width: 200px;
  height: 50px;
}

.course-pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* student profile page */
.student-profile-page {
  background-color: var(--color1);
  padding: 20px;
  border-radius: 20px;
}

.student-profile-page .card {
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.student-profile-page .card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.student-profile-page .card b {
  margin-left: 10px;
}

.profile-pic {
  border-radius: 50%;
}

@media screen and (min-width: 700px) {
  .profile-card {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

/* Community Manager Layout */

.userProfile {
  cursor: pointer;
}

.headerNav {
  position: fixed;
  background-color: var(--color1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(221, 220, 220);
  transition: 0.3s;
  cursor: pointer;
  z-index: 10;
  top: 70px;
  right: 10px;
}
.headerNav img {
  width: 100px;
}
.userProfile:hover {
  font-weight: bold;
}

.settings-route {
  display: block;
}

.headerNav .profileItems p,
.settings-route {
  background-color: rgb(221, 218, 218);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.headerNav .profileItems p.red {
  color: red;
}

.settings-route:hover {
  background-color: orangered;
  color: white;
}

.settings-page-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.settings-page-buttons > button {
  border: 1px solid black;
  width: 180px;
  padding: 10px 0;
}

.profile-image {
  border-radius: 50%;
}

.headerNav .profileItems p.red:hover {
  background-color: red;
  color: white;
}

.cmlayout {
  background-color: rgb(238, 235, 235);
}

.cmlayout header {
  background-color: white;
  box-shadow: 0 0 20px rgb(31, 30, 30);
  color: black;
}

.cmlayout .nav-item {
  color: white;
}

.cmlayout .aside {
  background: url("./assets/background2.png");
  background-size: cover;
  color: white;
}

.cmlayout .nav-item {
  border-bottom: 0;
}

.cmlayout .nav-item:hover {
  background-color: black;
  color: var(--primary-color);
}

.cmlayout .panel-card {
  margin-bottom: 20px;
}

.cmlayout .panel-card p {
  margin-bottom: 10px;
}

.event-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.event-card img {
  margin-right: 10px;
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 10px;
}

@media screen and (min-width: 700px) {
  .cmlayout .overview-cards {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }
}

@media screen and (min-width: 700px) {
  .panel-sections {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 2%;
  }
}

/* cm reports page */

.search-bar {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width as needed */
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.search-input {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
  margin: 0;
}

.search-icon {
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.search-icon:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.table-container {
  overflow-x: auto;
}

.material-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
}

.material-table th,
.material-table td {
  padding: 12px 24px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.material-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .material-table th,
  .material-table td {
    padding: 8px 16px;
    font-size: 14px;
  }
}
