*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --secondary-color: #FF730E;
}

body{
  background-color: white;

}



header{
  background-color: var(--secondary-color);
  padding: 10px 20px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

header .btn1{
  background-color: white;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}

header h1{
  color: white;
}

header img{
  width: 250px;
}

header .btn1:hover{
  transition: 0.3s all;
  color: white;
  cursor: pointer;
  background-color: #9e4404;

}

.login-container{
  max-height: 100vh;
  height: 100vh;
}

.login-section1{
  background-image: url(./assets/login-pic3.png);
  display: none;
  height: 100%;
  min-height: 100vh;
}

.login-section1 img{
  width: 100%;
  max-width: 500px;
  animation: popup 2s infinite;
}

@keyframes popup {
  0%{

  }
  50%{
    transform: scale(1.2);
  }
  
}

.login-section2{
 
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container>div{
  width: 98%;
  margin: auto;
}
.login-section2 div{
  width: 100%;
}
.login-section2 form{
  background-color: #FF730E;
  padding: 20px;
  border-radius: 20px;
}



input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 20px 0px;
}

button{
  border: none;

}

.login-btn{
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3;
  font-size: 17px;
}

.login-btn:hover{
  background-color: wheat;
}

.checkbox-container{
  display: flex;
  align-items: center;
}

.checkbox-container input{
  width: auto;
  margin-right: 10px;

}



.bottom-link{
  text-align: center;
  margin-top: 30px;
}
.bottom-link a{
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 800px) {

  .login-container>div{
      width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .login-container{
   

    height: 100vh;
  }

  .login-section1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container>div{
    display: grid;
    grid-template-columns: 50% 50%;
  }

}



/* Student Dashboard Styling */

.dashboard-header{
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.header-aside{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon{
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.headerToggleIcon{
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.userlayout{
  background-color: white;
  color: black;

  position: absolute;
  top: 0;
  width: 100%;
}

.main-content, .user-main-content{
  width: 100%;
  margin-top: 80px;
}

.user-main-content{
  padding: 10px;
  min-height: 100vh;
}

.aside{
  background-color: #FFFACE;
  padding: 20px 0px;
  box-shadow: 0 0 10px rgb(173, 173, 173);
  position: fixed;
  right: 0;
  z-index: 5;
  height: 100vh;
  width: 50%;
  top: 68px;
}

.noAside{
  display: none;
}

.nav-item{
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid brown;
  font-weight: bold;
}

.nav-item:hover{
  background-color: burlywood;
  cursor: pointer;
}

.nav-item img{
  margin-right: 10px;
}

.nav-item1{
  border: 0;
  
  font-size: 25px;
}

a{
  text-decoration: none;
  color: initial;
}
.active{
  background-color: red;
}

.panel-card{
  background-color: #FFFACE;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(221, 220, 220);
  transition: 0.3s;
  cursor: pointer;
}

.panel-card:hover{
  box-shadow: 0px 0px 30px rgb(221, 220, 220);
  transform: scale(1.02);
}



@media screen and (min-width: 600px) {
  .aside{
    width: 40%;
  }
}

@media screen and (min-width: 800px) {

  .aside{
    display: block;
    width: 20%;
    
    position: fixed;
    left: 0;
  }

  .user-main-content{

    left: 20%;
    width: 80%;
    padding: 20px;
position: relative;
  }

  .headerToggleIcon{
    display: none;
  }

}

.dashboard-overview .icon{
  padding: 20px;
  background-color: white;
  width: auto;
  border-radius: 50%;
}

.dashboard-overview .panel-card{
  display: flex;
justify-content: center;

transition: 10px;
width: 90%;
margin: auto;
margin-bottom: 30px;
transition: 0.3s all;
}

.dashboard-overview .panel-card:hover{
  background-color: #FF730E;
  cursor: pointer;
  box-shadow: 0 0 20px gray;
}

.dashboard-overview .panel-card p{
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 400px) {
  .dashboard-overview{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}


@media screen and (min-width: 800px) {
  .dashboard-overview{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .ml{
    margin-right: 10%;
  }
}


/* Student Attendance Page */

.student-attendance-page{

}

.student-attendance-page table{

  width: 100%;

}

.student-attendance-page .table{
  background-color: #FFFACE;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}

.student-attendance-page table, .student-attendance-page th, .student-attendance-page td{
  /* border: 1px solid gray; */
  border-collapse: collapse;
}

.student-attendance-page th{
  padding: 15px 10px;
  text-align: left;
}

.student-attendance-page td{
  padding: 5px 10px;
}

.student-attendance-page table button{
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}

@media screen and (min-width: 700px) {
  .student-attendance-page  .table{
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .student-attendance-page  .table{
    width: 50%;
  }
}

/* student assignments page */

.student-assignment-page{
  background-color: #FFFACE;
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.student-assignment-page>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
 border-bottom: 2px solid brown;


}

.img{
  background-color: white;
  padding: 15px;
  margin-right: 20px;
}

.student-assignment-page>div>div{
  display: flex;
  align-items: center;
}

.student-assignment-page .icon{
  font-size: 30px;
}

/* Student courses page */
.student-course-page{

}

.student-course-page>div{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.course-pic{
  max-width: 200px;
  height:50px;
}

.course-pic img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

